<div class="super-container" >
  <h1>Lista de servicios</h1>

  <div class="cards-container">
    <% @services.each do |service| %>
      <div class="card card-services my-2">
        <div class="card-image">
          <% if service.photos.attached? %>
            <%# Usando Cloudinary para recortar la imagen automáticamente %>
            <%= cl_image_tag(service.photos.first.key, alt: service.name, width: 300, height: 200, crop: :fill, gravity: :auto, style: "width: 100%; height: 200px; object-fit: cover;") %>
          <% else %>
            <img src="https://via.placeholder.com/300" alt="<%= service.name %>" />
          <% end %>
        </div>
        <div class="card-body">
          <h2 class="card-title"><%= link_to service.name, service_path(service) %></h2>
          <div class="card-text">
            <strong>Descripción</strong>
            <p><%= service.description %></p>
          </div>
        </div>
        <div class="card-footer">
          <% if user_signed_in? %>
            <%= link_to "Editar", new_service_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
