<div class="container my-5">
  <h1>Nuevo servicio</h1>
  <%= simple_form_for(@service) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :cost %>
    <%= f.association :category, label_method: :category %>
    <%= f.hidden_field :user_id, value:current_user.id %>
    <%= f.submit %>
  <% end %>
</div>
