<h1>Service</h1>
<h2><%= @service.name %></h2>
<ul>
  <li><%= @service.description %></li>
  <li><%= @service.cost %></li>
  <li><%= @service.category.category %></li>
  <li><%= @service.user.first_name %></li>
</ul>

<% @service.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to "Retornar a la lista", services_path %>
<%= link_to "Hacer una reserva", new_service_order_path(@service) %>
