<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chef Delivery" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'home', 'data-turbo-track': 'reload' %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <%= yield :head %>

    <!-- Favicon and manifest -->
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Rails application styles -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- Cabecera que ocupa todo el ancho -->
  <header class="bg-white text-dark py-2 shadow-sm">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="col-2">
      <%= link_to root_path do %>
        <img src="<%= asset_path('http://enrsto.freehostia.com/enriquestolar.com/img/logo-horizontal.png') %>" alt="ChefDelivery Logo" height="60">
      <% end %>
    </div>

    <% if user_signed_in? %>
      <!-- Botones cuando el usuario est치 logueado -->
      <div class="col-2">
        <a href="<%= services_path %>" class="btn custom-btn mx-2">Encuentra tu servicio</a>
      </div>
      <div class="col-2">
        <a href="<%= new_service_path %>" class="btn custom-btn mx-2">Publica tu Servicio</a>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <a href="<%= orders_path %>" class="btn custom-small-btn mx-2">Mis 칩rdenes</a>
        <a href="<%= services_path %>" class="btn custom-small-btn mx-2">Mis servicios</a>
        <div class="">
          <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-light mx-2" %>
        </div>
      </div>
    <% else %>
      <!-- Botones cuando el usuario NO est치 logueado -->
      <div class="col-2">
        <a href="<%= services_path %>" class="btn custom-btn mx-2">Encuentra tu servicio</a>
      </div>
      <div class="col-2">
        <a href="<%= new_service_path %>" class="btn custom-btn mx-2">Publica tu Servicio</a>
      </div>
      <div class="col-2 d-flex justify-content-end">
        <a href="<%= new_user_session_path %>" class="btn btn-outline-dark d-flex align-items-center">
          <i class="fas fa-user-circle fa-lg mx-2"></i>
          <span>Iniciar Sesi칩n</span>
        </a>
      </div>
    <% end %>
  </div>
</header>


  <body>
  <%# <div class="container mx-3 align-content-center"> %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
